#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
*.pem

#secrets files
*.pem
*.pub
.rocketchat-priv
.rocketchat-pub
rocketchat-priv.pem
rocketchat.pub
